<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">

<head>
	<title>Arquinventario</title>
</head>
<body>
<br>
<h2 align="justify" style="width: 800px; margin: 0 auto;">O arquinventario foi um projeto desenvolvido com muito esforço durante o período de 4 meses. Por 4 alunos do curso de Ciência da computação da UFCG, para a disciplina de Projeto I ministrada pelo professor Kyller Gorgônio. </h2>

<br>
<br>
<div style="display: block; width: 700px; margin:0 auto;">
<div style="float: left; margin-right: 25px">
<img src="img/Erick.jpg" alt="Avatar" style="width:150px; border-radius: 50%; padding-bottom: 8px;">
<p class="texto3" align="center">Erick Santana</p>
</div>
<div style="float: left;  margin-right: 25px" >
<img src="img/Nathan.jpg" alt="Avatar" style="width:150px; border-radius: 50%; padding-bottom: 8px;">
<p class="texto3" align="center">Nathan Martins</p>
</div>
<div style="float: left;  margin-right: 25px">
<img src="img/Arthur.jpg" alt="Avatar" style="width:150px; border-radius: 50%; padding-bottom: 8px;">
<p class="texto3" align="center">Arthur Silva</p>
</div>
<div style="float: left;">
<img src="img/Izabella.png" alt="Avatar" style="width:150px; border-radius: 50%; padding-bottom: 8px;">
<p class="texto3" align="center">Izabella Antonino</p>
</div>
</div>
</body>
</html>