<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">
<head>
	<title>Arquinventario</title>
</head>
<body>
	<div id='addNewComplaintBox' class='jumbotron'>
		<h2>Sugerir um novo patrimônio</h2>

		<form id="formAddNewTicket" name"formAddNewComplaint" class"form-horizontal" enctype="multipart/form-data" method="POST">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Nome do Patrimônio*" name="title" ng-model="title" ng-required="true">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Endereço*" name="address" ng-model="address" ng-required="true">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Descrição" name="description" ng-model="description" ng-required="true">
			</div>

			<div class+"form-group">
				<button type="button" ng-click='submit()' class="btn btn-primary">Adicionar</button>
				<button type="button" ng-click='goToHomePage()' class="btn btn-danger">Cancelar</button>
			</div>
		</form>
	</div>
</body>
</html>