<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">

<head>
  <title>Arquinventario</title>
</head>
  
<body>
  <div id='buildingBox' class='thumbnail'>
    <h2><strong>Detalhamento do patrimônio</strong></h2>

    <form name="formBuilding" id="formBuilding" class="form-horizontal" enctype="multipart/form-data">
        <p>
            <strong>Nome:</strong>
            <span>{{name}}</span>
        </p>

        <p>
            <strong>Ano:</strong>
            <span>{{year}}</span>
        </p>

        <p>
            <strong>Estilo arquitetônico:</strong>
            <span>{{style}}</span>
        </p>

        <p>
            <strong>História:</strong>
            <span>{{history}}</span>
        </p>
        <p>
            <strong>Descrição:</strong>
            <span>{{description}}</span>
        </p>

        <p>
            <strong>Tipologia:</strong>
            <span>{{tipology}}</span>
        </p>

        <p>
            <strong>Endereço:</strong>
            <span>{{address}}</span>
        </p>

       <h2><strong>Foto</strong></h2>
        <img style="width:70%;" class="col-center-block" data-ng-src="data:image/png;base64,{{patImg}}">

        <br>
        <h4>Localização</h4>
         <map ng-transclude class="short-map col-center-block" center="map.center" zoom="15"> 
            <marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker>
          </map>
      </form>
    
  <h2><strong>Informações adicionais</strong></h2>

  <ul ng-repeat="info in informations">
    <li style="font-size:20px;">
    {{info}}
    </li>
  </ul>

    <div class="form-group"> <h2><strong>Adicione informações</strong></h2> 
      <textarea ng-model="info" class="form-control" rows="5" id="comment"></textarea>
    </div>  
     <button type='button' ng-click='sendComment()' class='btn btn-info'>Enviar</button>
    
 
  </div>
    <div class='form-group' style="padding-left: 45%" ng-show="userRole === 'admin'">
        <button type='button' ng-click="goToEditPage()" class='btn btn-primary'>Editar</button>

        <button type='button' ng-click="delete()" name='btn_remove' class='btn btn-danger'>Excluir</button>
      </div>
</body>
</html>
