<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">

<head>
	<title>Arquinventario</title>
</head>
  
<body>
  <div id='card' class='thumbnail'>
    <h2><strong>Detalhamento da Denúncia</strong></h2>


    <form name="formComplaint" id="formComplaint" class="form-horizontal" enctype="multipart/form-data">
      <p>
        <strong>Título:</strong>
        <span>{{title}}</span>
      </p>

      <p>
        <strong>Local:</strong>
        <span>{{address}}</span>
      </p>

      <p>
        <strong>Descrição:</strong>
        <span>{{description}}</span>
      </p>

      <h2 ng-show="image != null">Foto</h2>
      <img style="width:60%;" class="col-center-block" data-ng-src="data:image/png;base64,{{image}}">
    </form>
  </div>
      <div class='form-group' style=" width: 50px; margin: 0 auto" ng-show="userRole === 'admin'">
        <button type='button' ng-confirm-click="Realmente deseja excluir essa denúncia?" confirmed-click="delete()" name='btn_remove' class='btn btn-danger'>Excluir</button>
      </div>
</body>
</html>

<!--
  <br>
  <h4>Localização</h4>
      <map ng-transclude class="short-map col-center-block" center="map.center" zoom="15"> 
        <marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker>
      </map>
    </form>
    
  <h2><strong>Informações adicionais</strong></h2>

  <ul ng-repeat="info in informations">
    <li style="font-size:20px;">
    {{info}}
    </li>
  </ul>

    <div class="form-group"> <h2><strong>Adicione informações</strong></h2> 
      <textarea ng-model="info" class="form-control" rows="5" id="comment"></textarea>
    </div>  
     <button type='button' ng-click='sendComment()' class='btn btn-info'>Enviar</button>
    
 
  </div>
</body>
</html>
-->
