<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">
<head>
	<title>Arquinventario</title>
</head>
<body>
<h3 align="center">Veja logo abaixo uma lista com os patrimônios da nossa querida cidade!</h3>

	<div class='jumbotron'>
		<h2 align="center">Patrimônios</h2>

		</br>

		<form name="formHome" id="formHome" class="form-horizontal" enctype="multipart/form-data" style="font-size: 15px; width: 800px; margin: 0 auto;">
			<input type="text" id="searchField" class="form-control" ng-model="searchValue" placeholder="O que você está buscando?">

			</br>

			<div class="form-group" style="margin: 0 auto"> 
				<input type="radio" name="vehicle" value="Nome" ng-checked="isName" ng-click="checkName()"> Nome 
				<input type="radio" name="vehicle" value="Endereco" ng-checked="isAddress" ng-click="checkAddress()"> Endereço 
				<input type="radio" name="vehicle" value="Tipologia" ng-checked="isTopology" ng-click="checkTipology()"> Tipologia
				<input type="radio" name="vehicle" value="Year" ng-checked="isYear" ng-click="checkYear()"> Ano 
				<input type="radio" name="vehicle" value="Style" ng-checked="isStyle" ng-click="checkStyle()"> Estilo
			</div>

			</br>

			<div class="form-group" style="margin: 0 auto;">
				<button type="button" class="btn btn-primary" ng-click="search()">Buscar</button>
				<button type="button" class="btn btn-primary" ng-click="cleanSearch()">Limpar</button>
			</div>
		</form>

		</br>

		<div id="card" ng-repeat="patrimony in patrimonies" class="thumbnail">
			<div class="caption">
				<h2><strong>{{patrimony.name}}</strong></h2>
				<p><strong>História:</strong> {{patrimony.history | limitTo:200}}{{patrimony.history.length > 200 ? '...' : ''}}</p>
				<p><strong>Descrição:</strong> {{patrimony.description}}</p>
				<a href="" ng-click="goToBuildingPage(patrimony)"> mais detalhes </a>
			</div>
		</div>
	</div>
</body>
</html>