<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">

<head>
	<title>Arquinventario</title>
</head>
  
<body>
  <div id='buildingBox' class='jumbotron'>
    <h2>Orgãos de Proteção ao Patrimônio</h2>

    <div class="thumbnail">
      <img src="img/iphan_logo.jpg">
      <div class="caption">
        <h3>IPHAN - Instituto do Patrimônio Histórico e Artístico Nacional</h3>
        <a href="http://portal.iphan.gov.br/">Visitar WebSite</a>
      </div>
    </div>

    <div class="thumbnail">
      <img src="img/iphaep_logo.jpg">
      <div class="caption">
        <h3>IPHAEP - Instituto do Patrimônio Histórico e Artístico do Estado da Paraíba</h3>
        <a href="http://paraiba.pb.gov.br/iphaep/">Visitar WebSite</a>
      </div>
    </div>

    <div class="thumbnail">
      <img src="img/iab_logo.jpg">
      <div class="caption">
        <h3>IAB - Instituto de Arquitetos do Brasil</h3>
        <a href="http://www.iab.org.br/">Visitar WebSite</a>
      </div>
    </div>

    <div class="thumbnail">
      <img src="img/ufcg_logo.png">
      <div class="caption">
        <h3>UFCG - Universidade Federal de Campina Grande</h3>
        <a href="http://ufcg.edu.br/">Visitar WebSite</a>
      </div>
    </div>
    
  </div>
</body>
</html>