<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">

<head>
	<title>Arquinventario</title>
</head>
  <h3 id="sobre" align="center">Tem alguma dúvida? Temos para você uma lista com os orgãos da cidade!</h3>
<body>
  <div id='buildingBox' class='jumbotron'>
    <h2>Orgãos de Proteção ao Patrimônio</h2>

    <div class="thumbnail">
      <a href="http://portal.iphan.gov.br/"><img src="img/iphan_logo.jpg"></a>
      <div class="caption">
        <h3 >IPHAN - Instituto do Patrimônio Histórico e Artístico Nacional</h3>
      </div>
    </div>

    <div class="thumbnail">
      <a href="http://paraiba.pb.gov.br/iphaep/"><img src="img/iphaep_logo.jpg"></a>
      <div class="caption">
        <h3>IPHAEP - Instituto do Patrimônio Histórico e Artístico do Estado da Paraíba</h3>
      </div>
    </div>

    <div class="thumbnail">
      <a href="http://www.iab.org.br/"><img src="img/iab_logo.jpg"></a>
      <div class="caption">
        <h3>IAB - Instituto de Arquitetos do Brasil</h3>
      </div>
    </div>

    <div class="thumbnail">
      <a href="http://ufcg.edu.br/"><img src="img/ufcg_logo.png"></a>
      <div class="caption">
        <h3>UFCG - Universidade Federal de Campina Grande</h3>
      </div>
    </div>
  </div>
</body>
</html>