<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">

<head>
	<title>Arquinventario</title>
</head>
  <h3 align="center">Tem alguma dúvida? Temos para você uma lista com os orgãos da cidade!</h3>
<body>
  <div id='buildingBox' class='jumbotron'>
    <h2>Orgãos de Proteção ao Patrimônio</h2>

    <div class="thumbnail">
      <a href="http://portal.iphan.gov.br/"><img src="img/iphan_logo.jpg"></a>
    </div>

    <div class="thumbnail">
      <a href="http://paraiba.pb.gov.br/iphaep/"><img src="img/iphaep_logo.jpg"></a>
    </div>

    <div class="thumbnail">
      <a href="http://www.iab.org.br/"><img src="img/iab_logo.jpg"></a>
    </div>

    <div class="thumbnail">
      <a href="http://ufcg.edu.br/"><img src="img/ufcg_logo.png"></a>
    </div>
  </div>
</body>
</html>